@CHARSET "UTF-8";

body {
font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'  
}

img.ui-datepicker-trigger{
  cursor: pointer;
  margin-left: 5px!important;
}

.formTable {
	display: table;
	width: 100%;
}

#incomeForm {
	display: table-cell;
	text-align: left;
	width: 30%;
  	margin: 0 auto;
}

#paymentFrom {
	display: table-cell;
	text-align: left;
	width: 30%;
  	margin: 0 auto;
}

/* グラフデザイン */
.graph-container {
	width: 40%;
/*     border: 1px solid #000; */
    padding: 20px;
    float: left;
    margin: 10px;
}

.graph {
/*     width: 300px; */
/*     height: 300px; */
    float: left;
}
.graph + .graph {
    margin-left: 60px;
}